body {
    /*overflow: hidden;*/
    background-image: url(./assets/front.jpeg);
}

.menu {
    /*display: none;*/
    position: absolute;
    z-index: 10;
}

.menu-item {
    position: fixed;
    width: 100%;
    height: 25px;
    padding: 0 25px;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}

.menu-item--agenda {
    left: 0;
    top: 0;
    width: 100vh;
    transform: rotateZ(90deg);
    transform-origin: 1.7%;
}

.menu-item--about {
    bottom: 0;
    left: 0;
}

.menu-item--archive {
    top: 0;
    right: 0;
    width: 100vh;
    transform: rotateZ(-90deg);
    transform-origin: 98.4%;
}

.menu-item--contact {
    top: 0;
    left: 0;
}

.menu-item__link {
    background: white;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-item__link--active {
    background: black;
    color: white;
    cursor: default;
}

.cube {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    line-height: 100vh;
    text-align: center;
    font-size: 10vh;
    /*transform: scale(0.25);*/

}

.cube--transition-horizontal {
    perspective: 100vw;
}

.cube--transition-horizontal .sides {
    transform-origin: 50% 50% 50vw;
}


.cube--transition-vertical {
    perspective: 100vh;
}

.cube--transition-vertical .sides {
    transform-origin: 50% 50% 50vh;
}

.sides {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sides--transition {
    transition: transform 700ms;
}

.sides-transition--vertical {

}

.side {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*opacity: 0.75;*/
    margin: 0;
    padding: 0;
    color: white;
    background-size: cover;
    display: none;
    top: 0;
    left: 0;
    background-repeat: repeat;
}

.side--will-animate {
    display: block;
    position: absolute;
}

.side--visible {
    display: block;
}

.side--front {
    background-image: url(./assets/front.jpeg);
}

.side--back {
    background-image: url(./assets/back.jpeg);
}

.side--left {
    background-image: url(./assets/left.jpeg);
}

.side--right {
    background-image: url(./assets/right.jpeg);
}

.side--top {
    background-image: url(./assets/top.jpeg);
}

.side--bottom {
    background-image: url(./assets/bottom.jpeg);
}

.side--position-back {
    transform: translateZ(100vw) scale(1, -1);
}

.side--position-right {
    transform: translateZ(50vw) translateX(50vw) rotateY(-90deg);
}

.side--position-left {
    transform: translateZ(50vw) translateX(-50vw) rotateY(90deg);
}


.side--position-top {
    /*transform: translateZ(50vw) translateY(-50vw) rotateX(-90deg);*/
    transform: translateZ(50vh) translateY(-50vh) rotateX(-90deg);
}

.side--position-bottom {
    /*transform: translateZ(50vw) translateY(50vw) rotateX(90deg);*/
    transform: translateZ(50vh) translateY(50vh) rotateX(90deg);
}

@keyframes example {
    0% { transform: translateZ(0) rotateX(0deg); }
    15% { transform: translateZ(0) rotateX(90deg); }
    25% { transform: translateZ(0) rotateX(90deg); }
    40% { transform: translateZ(0) rotateX(180deg); }
    50% { transform: translateZ(0) rotateX(180deg); }
    65% { transform: translateZ(0) rotateX(270deg); }
    75% { transform: translateZ(0) rotateX(270deg); }
    90% { transform: translateZ(0) rotateX(360deg); }
    100% { transform: translateZ(0) rotateX(360deg); }
}
@keyframes example-scene {

}
