@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Gza Seminegra;
  src: url("../fonts/gza-seminegra-web.woff");
  font-weight: 400; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?1l8vla") format("truetype"), url("../fonts/icons.woff?1l8vla") format("woff"), url("../fonts/icons.svg?1l8vla#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i--facebook:before {
  content: "\e907"; }

.i--instagram:before {
  content: "\e908"; }

.i--twitter:before {
  content: "\e90c"; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  background-image: url(../images/front.jpeg);
  font-size: 14px;
  font-family: "Gza Seminegra", "Times", "Times New Roman", serif;
  line-height: 16px; }

p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px; }
  p:last-child {
    margin-bottom: 0; }

h1, h2 {
  text-transform: uppercase; }

a {
  color: black; }
  a:visited {
    color: black; }
  a:hover {
    text-decoration: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

.menu {
  position: absolute;
  z-index: 10; }

.menu-item {
  position: fixed;
  width: 100%;
  height: 32px;
  padding: 0 32px;
  box-sizing: border-box;
  list-style: none;
  text-align: center; }

.menu-item--agenda {
  left: 0;
  top: -32px;
  width: 100vh;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%; }

.menu-item--about {
  bottom: 0;
  left: 0; }

.menu-item--archive {
  top: -32px;
  right: 0;
  width: 100vh;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%; }

.menu-item--contact {
  top: 0;
  left: 0; }

.menu-item__link {
  background: white;
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 21px;
  color: black;
  text-transform: uppercase;
  text-decoration: none; }
  .menu-item__link:hover {
    background: black;
    color: white; }

.menu-item__link--active {
  background: black;
  color: white;
  cursor: default; }
  .menu-item__link--active:visited {
    color: white; }

.cube {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.cube--transition-horizontal {
  -webkit-perspective: 100vw;
          perspective: 100vw; }

.cube--transition-vertical {
  -webkit-perspective: 100vh;
          perspective: 100vh; }

.sides {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none; }

.sides--transition {
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 700ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 700ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1); }

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-size: cover;
  display: none;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-position: center; }

.side__content {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 0 0 0;
  padding: 32px; }

.side--will-animate {
  display: block;
  will-change: transform;
  z-index: 100000; }

.side--visible {
  display: block; }

.side--front {
  background-image: url(../images/front.jpeg); }

.side--back {
  background-image: url(../images/back.jpeg); }

.side--left {
  background-image: url(../images/left.jpeg); }

.side--right {
  background-image: url(../images/right.jpeg); }

.side--top {
  background-image: url(../images/top.jpeg); }

.side--bottom {
  background-image: url(../images/bottom.jpeg); }

.side--position-back {
  -webkit-transform: translateZ(100vw) scale(1, -1);
          transform: translateZ(100vw) scale(1, -1); }

.side--position-right {
  -webkit-transform: translateZ(50vw) translateX(50vw) rotateY(-90deg);
          transform: translateZ(50vw) translateX(50vw) rotateY(-90deg); }

.side--position-left {
  -webkit-transform: translateZ(50vw) translateX(-50vw) rotateY(90deg);
          transform: translateZ(50vw) translateX(-50vw) rotateY(90deg); }

.side--position-top {
  -webkit-transform: translateZ(50vh) translateY(-50vh) rotateX(-90deg);
          transform: translateZ(50vh) translateY(-50vh) rotateX(-90deg); }

.side--position-bottom {
  -webkit-transform: translateZ(50vh) translateY(50vh) rotateX(90deg);
          transform: translateZ(50vh) translateY(50vh) rotateX(90deg); }

.site-section {
  color: black;
  background: white;
  padding: 24px;
  overflow: auto;
  position: absolute; }

.site-section__header {
  height: 0;
  width: 0;
  overflow: hidden; }

.site-section--agenda {
  width: 20%;
  max-height: 75vh;
  min-width: 250px; }

.site-section--archive {
  max-height: 75vh;
  min-height: 300px;
  min-width: 250px;
  width: 20%;
  bottom: 32px;
  right: 32px; }

.site-section--event {
  max-height: 75vh;
  min-width: 250px;
  width: 75%;
  bottom: 32px;
  right: 32px; }

.site-section--contact {
  width: 75%;
  right: 32px; }

.site-section--default {
  bottom: 32px;
  right: 32px;
  width: 50%;
  max-height: 70%;
  min-height: 300px; }

.site-section__default-content {
  -webkit-columns: 100px 2;
     -moz-columns: 100px 2;
          columns: 100px 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em; }

.event {
  margin-bottom: 32px; }
  .event:last-child {
    margin-bottom: 0; }

.event__link {
  text-decoration: none;
  display: block; }
  .event__link:hover {
    text-decoration: underline; }

.event__header {
  margin-bottom: 16px; }

.event__title {
  text-transform: uppercase;
  padding-left: 1.5em; }

.event__title--archived {
  text-decoration: underline; }

.event__author {
  padding-left: 1.5em; }

.event__more {
  display: block; }
  .event__more:after {
    content: '…'; }

.full-event {
  overflow: hidden; }

.full-event__column {
  float: left; }

.full-event__column--text {
  width: 25%;
  margin-right: 5%; }

.full-event__column--media {
  width: 70%; }
  .full-event__column--media figure {
    margin-bottom: 24px; }

.full-event__header {
  margin-bottom: 24px; }

.full-event__title {
  text-decoration: underline;
  text-transform: uppercase;
  padding-left: 1.5em; }

.full-event__artists {
  padding-left: 1.5em; }

.full-event__video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 24px; }
  .full-event__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.contact__column {
  width: 30%;
  margin-right: 1.5%;
  float: left; }
  .contact__column:last-child {
    margin-right: 0; }

.contact__social {
  text-decoration: none;
  display: inline-block;
  margin-left: -6px; }
  .contact__social .i {
    font-size: 30px;
    text-decoration: none; }

.i__text-replacement {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden; }
