@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Gza Seminegra;
  src: url("../fonts/gza-seminegra-web.woff");
  font-weight: 400; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?1l8vla") format("truetype"), url("../fonts/icons.woff?1l8vla") format("woff"), url("../fonts/icons.svg?1l8vla#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i--facebook:before {
  content: "\e907"; }

.i--instagram:before {
  content: "\e908"; }

.i--twitter:before {
  content: "\e90c"; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: white;
  font-family: "Gza Seminegra", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 18px; }

p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 18px; }
  p:last-child {
    margin-bottom: 0; }

h1,
h2 {
  text-transform: uppercase; }

a {
  color: black; }
  a:visited {
    color: black; }
  a:hover {
    text-decoration: none; }

img {
  display: block;
  height: auto;
  width: 100%; }

.beacon {
  clip: rect(0, 0, 0, 0);
  height: 0;
  position: absolute;
  width: 0; }
  .beacon::before {
    content: 's'; }

@media (min-width: 768px) {
  body {
    background-image: url("../images/front.jpeg"); }
  .beacon::before {
    content: 'm'; }
  .js.intro-active .wrapper {
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-transition: all 1500ms linear 1000ms;
    transition: all 1500ms linear 1000ms;
    height: 100vh; }
  .js.intro-active .site-header {
    position: absolute; }
  .js.intro-active .intro {
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: all 1500ms linear 1000ms;
    transition: all 1500ms linear 1000ms;
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
  .js.intro-active .intro__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(0) scale(0.33);
            transform: translate(-50%, -50%) translateZ(0) scale(0.33); }
  .js.intro-active .menu-items.menu-items {
    opacity: 0; }
  .js.intro-active .menu--active .menu-items {
    opacity: 1; } }

.site-header {
  padding: 24px; }

.site-title {
  display: inline;
  text-decoration: none; }

.menu {
  display: inline; }

.menu__button {
  -webkit-appearance: none;
  background: none;
  border: 0;
  position: relative;
  z-index: 10;
  font-family: "Gza Seminegra", "Times", "Times New Roman", serif;
  float: right;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px; }
  .menu__button:focus {
    outline: 0; }

.menu-item__link {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: white; }
  .menu-item__link:visited {
    color: white; }

@media (max-width: 768px) {
  .menu-items {
    background: black;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap; }
    .menu-items::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; }
  .menu-items__list {
    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    position: relative; }
    .menu-items__list::before, .menu-items__list::after {
      content: 'E';
      position: absolute;
      color: white; }
    .menu-items__list::before {
      content: 'F'; }
  .menu--active .menu-items {
    opacity: 1;
    pointer-events: initial; }
  .menu--active .menu__button {
    display: none; }
  .menu-item {
    position: absolute;
    z-index: 1;
    text-align: center; }
    .menu-item::before, .menu-item::after {
      background: black;
      content: '';
      position: absolute;
      box-shadow: 0 0 0 1px black; }
  .menu-item__link {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%; }
    .menu-item__link::before, .menu-item__link::after {
      background: black;
      content: '';
      position: absolute;
      box-shadow: 0 0 0 1px black; } }

@media (max-width: 768px) and (orientation: landscape) {
  .menu-items__list {
    height: 91vh;
    width: 132vh; }
    .menu-items__list::before, .menu-items__list::after {
      font-size: 18vh;
      width: 33vh;
      height: 33vh;
      top: 29vh;
      left: 33vh;
      line-height: 25vh;
      border: 4vh solid white; }
    .menu-items__list::before {
      top: 29vh;
      left: 62vh; }
  .menu-item {
    border: 4vh solid white;
    width: 33vh;
    height: 33vh; }
    .menu-item::before, .menu-item::after {
      height: 4vh;
      left: -4vh;
      top: -4vh;
      width: 4vh; }
    .menu-item::after {
      left: auto;
      right: -4vh; }
  .menu-item__link {
    line-height: 25vh;
    font-size: 3.5vh; }
    .menu-item__link::before, .menu-item__link::after {
      height: 4vh;
      left: -4vh;
      bottom: -4vh;
      width: 4vh; }
    .menu-item__link::after {
      right: -4vh;
      left: auto; }
  .menu-item--contact {
    top: 0;
    left: 33vh; }
  .menu-item--agenda {
    top: 29vh;
    left: 4vh; }
  .menu-item--archive {
    top: 29vh;
    left: 91vh; }
  .menu-item--about {
    top: 58vh;
    left: 62vh; } }

@media (max-width: 768px) and (orientation: portrait) {
  .menu-items__list {
    height: 132vw; }
    .menu-items__list::before, .menu-items__list::after {
      font-size: 18vw;
      width: 33vw;
      height: 33vw;
      top: 29vw;
      left: 33vw;
      line-height: 25vw;
      border: 4vw solid white; }
    .menu-items__list::before {
      top: 58vw;
      left: 33vw; }
  .menu-item {
    border: 4vw solid white;
    width: 33vw;
    height: 33vw; }
    .menu-item::before, .menu-item::after {
      height: 4vw;
      left: -4vw;
      top: -4vw;
      width: 4vw; }
    .menu-item::after {
      left: auto;
      right: -4vw; }
  .menu-item__link {
    line-height: 25vw;
    font-size: 3.5vw; }
    .menu-item__link::before, .menu-item__link::after {
      height: 4vw;
      left: -4vw;
      bottom: -4vw;
      width: 4vw; }
    .menu-item__link::after {
      right: -4vw;
      left: auto; }
  .menu-item--contact {
    top: 0;
    left: 33vw; }
  .menu-item--agenda {
    top: 29vw;
    left: 4vw; }
  .menu-item--archive {
    top: 58vw;
    left: 62vw; }
  .menu-item--about {
    top: 87vw;
    left: 33vw; } }

@media (min-width: 768px) {
  .menu {
    position: absolute;
    z-index: 10; }
  .site-title,
  .menu__button {
    display: none; }
  .menu-items {
    opacity: 1; }
  .menu-item {
    position: fixed;
    width: 100%;
    height: 32px;
    padding: 0 32px;
    box-sizing: border-box;
    list-style: none;
    text-align: center; }
  .menu-item--agenda {
    left: 0;
    top: -32px;
    width: 100vh;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  .menu-item--about {
    bottom: 0;
    left: 0; }
  .menu-item--archive {
    top: -32px;
    right: 0;
    width: 100vh;
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .menu-item--contact {
    top: 0;
    left: 0; }
  .menu-item__link {
    background: white;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: black; }
    .menu-item__link:hover {
      background: black;
      color: white; }
    .menu-item__link:hover:visited {
      color: white; }
    .menu-item__link:visited {
      color: black; }
  .menu-item__link--active {
    background: black;
    color: white;
    cursor: default; }
    .menu-item__link--active:visited {
      color: white; } }

.side {
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%; }

.side--visible {
  display: block; }

@media (min-width: 768px) {
  .cube {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw; }
  .cube--transition-horizontal {
    -webkit-perspective: 100vw;
            perspective: 100vw; }
  .cube--transition-vertical {
    -webkit-perspective: 100vh;
            perspective: 100vh; }
  .sides {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 100%; }
  .sides--transition {
    -webkit-transition: -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1);
    transition: -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1);
    transition: transform 700ms cubic-bezier(0, 0, 0.2, 1);
    transition: transform 700ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 700ms cubic-bezier(0, 0, 0.2, 1); }
  .side {
    position: absolute;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    left: 0;
    top: 0; }
  .side__content {
    margin: 0 0 0 0;
    max-height: 100vh;
    max-width: 100vw;
    padding: 32px; }
  .side--will-animate {
    display: block;
    will-change: transform;
    z-index: 100000; }
  .side--front {
    background-image: url(../images/front.jpeg); }
  .side--back {
    background-image: url(../images/back.jpeg); }
  .side--left {
    background-image: url(../images/left.jpeg); }
  .side--right {
    background-image: url(../images/right.jpeg); }
  .side--top {
    background-image: url(../images/top.jpeg); }
  .side--bottom {
    background-image: url(../images/bottom.jpeg); }
  .side--position-back {
    -webkit-transform: translateZ(100vw) scale(1, -1);
            transform: translateZ(100vw) scale(1, -1); }
  .side--position-right {
    -webkit-transform: translateZ(50vw) translateX(50vw) rotateY(-90deg);
            transform: translateZ(50vw) translateX(50vw) rotateY(-90deg); }
  .side--position-left {
    -webkit-transform: translateZ(50vw) translateX(-50vw) rotateY(90deg);
            transform: translateZ(50vw) translateX(-50vw) rotateY(90deg); }
  .side--position-top {
    -webkit-transform: translateZ(50vh) translateY(-50vh) rotateX(-90deg);
            transform: translateZ(50vh) translateY(-50vh) rotateX(-90deg); }
  .side--position-bottom {
    -webkit-transform: translateZ(50vh) translateY(50vh) rotateX(90deg);
            transform: translateZ(50vh) translateY(50vh) rotateX(90deg); } }

.site-section {
  background: white;
  color: black;
  overflow: auto;
  padding: 24px;
  width: 100%; }

.site-section__header {
  height: 0;
  overflow: hidden;
  width: 0; }

.site-section--archive {
  bottom: 32px;
  right: 32px; }

.site-section--event {
  bottom: 32px; }

.site-section--event-archived {
  right: 32px; }

.site-section--contact {
  right: 32px; }

.site-section--default {
  bottom: 32px;
  right: 32px; }

@media (min-width: 768px) {
  .site-section {
    position: absolute; }
  .site-section__default-content {
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3; }
  .site-section--default {
    max-height: 70%;
    min-height: 300px;
    width: 75%; }
  .site-section--agenda {
    max-height: 75vh;
    min-width: 250px;
    width: 25%; }
  .site-section--archive {
    max-height: 75vh;
    min-height: 300px;
    min-width: 250px;
    width: 25%; }
  .site-section--contact {
    width: 75%; }
  .site-section--event {
    max-height: 75vh;
    min-width: 250px;
    width: 75%; } }

.event {
  margin-bottom: 32px; }
  .event:last-child {
    margin-bottom: 0; }

.event__link {
  text-decoration: none;
  display: block; }
  .event__link:hover {
    text-decoration: underline; }

.event__header {
  margin-bottom: 16px; }

.event__title {
  text-transform: uppercase;
  padding-left: 1.5em; }

.event__author {
  padding-left: 1.5em; }

.event__more {
  display: block; }
  .event__more:after {
    content: '…'; }

.full-event {
  overflow: hidden; }

.full-event__column--text {
  margin-bottom: 24px; }

.full-event__column--media figure {
  margin-bottom: 24px; }

.full-event__header {
  margin-bottom: 24px; }

.full-event__title {
  text-decoration: underline;
  text-transform: uppercase;
  padding-left: 1.5em; }

.full-event__artists {
  padding-left: 1.5em; }

.full-event__video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 24px; }
  .full-event__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

@media (min-width: 768px) {
  .full-event__column {
    float: left; }
  .full-event__column--text {
    width: 32%;
    margin-right: 1.5%; }
  .full-event__column--media {
    width: 66.5%; } }

.contact__column {
  margin-bottom: 16px; }

.contact__social {
  display: inline-block;
  margin-left: -6px;
  text-decoration: none; }
  .contact__social .i {
    font-size: 38px;
    text-decoration: none; }

.contact__sponsor {
  display: inline-block;
  position: relative;
  top: 4px;
  float: right;
  text-decoration: none; }
  .contact__sponsor img {
    width: 35px; }

.i__text-replacement {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

@media (min-width: 768px) {
  .contact__column {
    float: left;
    margin-right: 1.5%;
    width: 32%; }
    .contact__column a {
      word-break: break-all; }
    .contact__column:last-child {
      margin-right: 0; } }
