html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background-image: url(../images/front.jpeg);
    font-size: font-size(body);
    font-family: $main-font;
    line-height: baselines(3);
}

p {
    font-size: font-size(body);
    line-height: baselines(3);
    margin-bottom: baselines(3);
}

h1, h2 {
    text-transform: uppercase;
}

a {
    color: colour(black);

    &:visited {
        color: colour(black);
    }

    &:hover {
        text-decoration: none;
    }
}
