html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: colour(white);
    font-family: $main-font;
    font-size: font-size(body);
    line-height: baselines(2.25);
}

p {
    font-size: font-size(body);
    line-height: baselines(2.25);
    margin-bottom: baselines(2.25);

    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2 {
    text-transform: uppercase;
}

a {
    color: colour(black);

    &:visited {
        color: colour(black);
    }

    &:hover {
        text-decoration: none;
    }
}

img {
    display: block;
    height: auto;
    width: 100%;
}

.beacon {
    clip: rect(0, 0, 0, 0);
    height: 0;
    position: absolute;
    width: 0;

    &::before {
        content: 's';
    }
}

@media(min-width: breakpoint(tablet)) {
    body {
        background-image: url('../images/front.jpeg');
    }

    .beacon::before {
        content: 'm';
    }

    .js.intro-active {
        .wrapper {
            transform: scale(3);
            transition: all 1500ms linear 1000ms;
            height: 100vh;
        }

        .site-header {
            position: absolute;
        }

        .intro {
            background: colour(black);
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            transition: all 1500ms linear 1000ms;
            opacity: 1;
            transform: translateZ(0);
        }

        .intro__logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) translateZ(0) scale(0.33);
        }

        .menu-items.menu-items {
            opacity: 0;
        }

        .menu--active{
            .menu-items {
                opacity: 1;
            }
        }
    }
}
