.contact {

}

.contact__column {
    width: 30%;
    margin-right: 1.5%;
    float: left;

    &:last-child {
        margin-right: 0;
    }
}

.contact__social {
    text-decoration: none;
    display: inline-block;
    margin-left: -6px;

    .i {
        font-size: 35px;
        text-decoration: none;
    }
}

.i__text-replacement {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
