.contact__social {
    display: inline-block;
    margin-left: -6px;
    text-decoration: none;

    .i {
        font-size: 35px;
        text-decoration: none;
    }
}

.contact__sponsor {
    display: inline-block;
    position: relative;
    left: -6px;
    top: -5px;
    text-decoration: none;

    img {
        width: 35px;
    }
}

.i__text-replacement {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}

@media(min-width: breakpoint(tablet)) {
    .contact__column {
        float: left;
        margin-right: 1.5%;
        width: 32%;

        a {
            word-break: break-all;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
