.events {

}

.event {
    margin-bottom: baselines(4.5);

    &:last-child {
        margin-bottom: 0;
    }
}

.event__link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.event__header {
    margin-bottom: baselines(3);
}

.event__title {
    text-transform: uppercase;
    padding-left: 1.5em;
}

.event__more {
    display: block;

    &:after {
        content: '…';
    }
}
