$menu-item-height: baselines(4);

.site-header {
    padding: baselines(3);
}

.site-title {
    display: inline;
    text-decoration: none;
}

.menu {
    display: inline;
}

.menu__button {
    -webkit-appearance: none;
    background: none;
    border: 0;
    position: relative;
    z-index: 10;
    font-family: $main-font;
    float: right;
    cursor: pointer;
    font-size: font-size(body);
    line-height: 16px;

    &:focus {
        outline: 0;
    }
}

.menu-item__link {
    display: block;
    font-size: font-size(menu);
    text-transform: uppercase;
    text-decoration: none;
    color: colour(white);

    &:visited {
        color: colour(white);
    }
}

@media (max-width: breakpoint(tablet)) {
    .menu-items {
        background: colour(black);
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        transition: opacity 200ms;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        white-space: nowrap;

        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; // Adjusts for spacing
        }
    }

    .menu-items__list {
        display: inline-block;
        vertical-align: middle;
        width: 100vw;
        position: relative;

        &::before,
        &::after {
            content: 'E';
            position: absolute;
            color: colour(white);
        }

        &::before {
            content: 'F';
        }
    }

    .menu--active {
        .menu-items {
            opacity: 1;
            pointer-events: initial;
        }

        .menu__button {
            display: none;
        }
    }

    .menu-item {
        position: absolute;
        z-index: 1;
        text-align: center;

        &::before,
        &::after {
            background: colour(black);
            content: '';
            position: absolute;
            box-shadow: 0 0 0 1px colour(black);
        }
    }

    .menu-item__link {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
            background: colour(black);
            content: '';
            position: absolute;
            box-shadow: 0 0 0 1px colour(black);
        }
    }
}

@media (max-width: breakpoint(tablet)) and (orientation: landscape) {
    $menu-item-height-mobile: 33vh;
    $border-thickness: 4vh;
    $square-size: 4vh;
    $font-size: 3.5vh;

    .menu-items__list {
        height: ($menu-item-height-mobile * 3) + ($border-thickness * -2);
        width: ($menu-item-height-mobile * 4);

        &::before,
        &::after {
            font-size: 18vh;
            width: $menu-item-height-mobile;
            height: $menu-item-height-mobile;
            top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
            left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
            line-height: $menu-item-height-mobile - ($border-thickness * 2);
            border: $border-thickness solid colour(white);
        }

        &::before {
            top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
            left: ($menu-item-height-mobile * 2) + ($border-thickness * -1);
        }
    }

    .menu-item {
        border: $border-thickness solid colour(white);
        width: $menu-item-height-mobile;
        height: $menu-item-height-mobile;

        &::before,
        &::after {
            height: $square-size;
            left: -$square-size;
            top: -$square-size;
            width: $square-size;
        }

        &::after {
            left: auto;
            right: -$square-size;
        }
    }

    .menu-item__link {
        line-height: $menu-item-height-mobile - ($border-thickness * 2);
        font-size: $font-size;

        &::before,
        &::after {
            height: $square-size;
            left: -$square-size;
            bottom: -$square-size;
            width: $square-size;
        }

        &::after {
            right: -$square-size;
            left: auto;
        }
    }

    .menu-item--contact {
        top: 0;
        left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
    }

    .menu-item--agenda {
        top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
        left: $border-thickness;
    }

    .menu-item--archive {
        top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
        left: ($menu-item-height-mobile * 3) + ($border-thickness * -2);
    }

    .menu-item--about {
        top: ($menu-item-height-mobile * 2) + ($border-thickness * -2);
        left: ($menu-item-height-mobile * 2) + ($border-thickness * -1);
    }

}

@media (max-width: breakpoint(tablet)) and (orientation: portrait) {
    $menu-item-height-mobile: 33vw;
    $border-thickness: 4vw;
    $square-size: 4vw;
    $font-size: 3.5vw;

    .menu-items__list {
        height: $menu-item-height-mobile * 4;

        &::before,
        &::after {
            font-size: 18vw;
            width: $menu-item-height-mobile;
            height: $menu-item-height-mobile;
            top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
            left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
            line-height: $menu-item-height-mobile - ($border-thickness * 2);
            border: $border-thickness solid colour(white);
        }

        &::before {
            top: ($menu-item-height-mobile * 2) + ($border-thickness * -2);
            left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
        }
    }

    .menu-item {
        border: $border-thickness solid colour(white);
        width: $menu-item-height-mobile;
        height: $menu-item-height-mobile;

        &::before,
        &::after {
            height: $square-size;
            left: -$square-size;
            top: -$square-size;
            width: $square-size;
        }

        &::after {
            left: auto;
            right: -$square-size;
        }
    }

    .menu-item__link {
        line-height: $menu-item-height-mobile - ($border-thickness * 2);
        font-size: $font-size;

        &::before,
        &::after {
            height: $square-size;
            left: -$square-size;
            bottom: -$square-size;
            width: $square-size;
        }

        &::after {
            right: -$square-size;
            left: auto;
        }
    }

    .menu-item--contact {
        top: 0;
        left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
    }

    .menu-item--agenda {
        top: ($menu-item-height-mobile * 1) + ($border-thickness * -1);
        left: $border-thickness;
    }

    .menu-item--archive {
        top: ($menu-item-height-mobile * 2) + ($border-thickness * -2);
        left: ($menu-item-height-mobile * 2) + ($border-thickness * -1);
    }

    .menu-item--about {
        top: ($menu-item-height-mobile * 3) + ($border-thickness * -3);
        left: ($menu-item-height-mobile * 1) + ($border-thickness * 0);
    }
}


@media(min-width: breakpoint(tablet)) {
    .menu {
        position: absolute;
        z-index: 10;
    }

    .site-title,
    .menu__button {
        display: none;
    }

    .menu-items {
        opacity: 1;
    }

    .menu-item {
        position: fixed;
        width: 100%;
        height: $menu-item-height;
        padding: 0 $menu-item-height;
        box-sizing: border-box;
        list-style: none;
        text-align: center;
    }

    .menu-item--agenda {
        left: 0;
        top: -$menu-item-height;
        width: 100vh;
        transform: rotateZ(90deg);
        transform-origin: 0 100%;
    }

    .menu-item--about {
        bottom: 0;
        left: 0;
    }

    .menu-item--archive {
        top: -$menu-item-height;
        right: 0;
        width: 100vh;
        transform: rotateZ(-90deg);
        transform-origin: 100% 100%;
    }

    .menu-item--contact {
        top: 0;
        left: 0;
    }

    .menu-item__link {
        background: colour(black);
        width: 100%;
        height: $menu-item-height;
        line-height: $menu-item-height;
        color: colour(white);

        &:hover {
            background: colour(white);
            color: colour(black);
        }

        &:hover:visited {
            color: colour(black);
        }

        &:visited {
            color: colour(white);
        }
    }

    .menu-item__link--active {
        background: colour(white);
        color: colour(black);
        cursor: default;

        &:visited {
            color: colour(black);
        }
    }
}
