$prism-width: 100vw;
$prism-height: 100vh;

$side-width-padding: 0;
$side-height-padding: 0;
$side-width: $prism-width + $side-width-padding;
$side-height: $prism-height + $side-height-padding;

.side {
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    background: transparent no-repeat bottom center;
    background-size: contain;
    padding-bottom: percentage(9/16);
}

.side--visible {
    display: block;
}

.side--front {
    background-image: url('../images/front.jpeg');
}

.side--back {
    background-image: url('../images/back.jpeg');
}

.side--left {
    background-image: url('../images/left.jpeg');
}

.side--right {
    background-image: url('../images/right.jpeg');
}

.side--top {
    background-image: url('../images/top.jpeg');
}

.side--bottom {
    background-image: url('../images/bottom.jpeg');
}


@media(min-width: breakpoint(tablet)) {
    .cube {
        height: $prism-height;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: $prism-width;
    }

    .cube--transition-horizontal {
        perspective: $prism-width;
    }

    .cube--transition-vertical {
        perspective: $prism-height;
    }

    .sides {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transform-style: preserve-3d;
        width: 100%;
    }

    .sides--transition {
        transition: transform 700ms cubic-bezier(0, 0, 0.2, 1);
    }

    .side {
        position: absolute;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        left: ($side-width-padding / -2);
        top: ($side-height-padding / -2);
        padding-bottom: 0;
    }

    .side__content {
        margin: ($side-height-padding / 2) 0 0 ($side-width-padding / 2);
        max-height: 100vh;
        max-width: 100vw;
        padding: $menu-item-height;
    }

    .side--will-animate {
        display: block;
        will-change: transform;
        z-index: 100000;
    }

    .side--front {
        background-image: url('../images/front@2x.jpeg');
    }

    .side--back {
        background-image: url('../images/back@2x.jpeg');
    }

    .side--left {
        background-image: url('../images/left@2x.jpeg');
    }

    .side--right {
        background-image: url('../images/right@2x.jpeg');
    }

    .side--top {
        background-image: url('../images/top@2x.jpeg');
    }

    .side--bottom {
        background-image: url('../images/bottom@2x.jpeg');
    }

    .side--position-back {
        transform: translateZ($prism-width) scale(1, -1);
    }

    .side--position-right {
        transform: translateZ(($prism-width/2))
                translateX(($prism-width/2))
                rotateY(-90deg);
    }

    .side--position-left {
        transform: translateZ(($prism-width/2))
                translateX(-($prism-width/2))
                rotateY(90deg);
    }


    .side--position-top {
        transform: translateZ(($prism-height/2))
                translateY(-($prism-height/2))
                rotateX(-90deg);
    }

    .side--position-bottom {
        transform: translateZ(($prism-height/2))
                translateY(($prism-height/2))
                rotateX(90deg);
    }
}
