.site-section {
    background: colour(white);
    color: colour(black);
    overflow: auto;
    padding: baselines(3);
    width: 100%;
}

.site-section__header {
    height: 0;
    overflow: hidden;
    width: 0;
}

.site-section--archive {
    bottom: $menu-item-height;
    right: $menu-item-height;
}

.site-section--event {
    bottom: $menu-item-height;
    right: $menu-item-height;
}

.site-section--contact {
    right: $menu-item-height;
}

.site-section--default {
    bottom: $menu-item-height;
    right: $menu-item-height;
}

@media(min-width: breakpoint(tablet)) {
    .site-section {
        position: absolute;
    }

    .site-section__default-content {
        column-gap: 1.5%;
        columns: 2;
    }

    .site-section--default {
        max-height: 70%;
        min-height: 300px;
        width: 50%;
    }

    .site-section--agenda {
        max-height: 75vh;
        min-width: 250px;
        width: 25%;
    }

    .site-section--archive {
        max-height: 75vh;
        min-height: 300px;
        min-width: 250px;
        width: 25%;
    }

    .site-section--contact {
        width: 75%;
    }

    .site-section--event {
        max-height: 75vh;
        min-width: 250px;
        width: 75%;
    }

}
