.site-section {
    color: colour(black);
    background: colour(white);
    padding: baselines(3);
    overflow: auto;
    position: absolute;
}

.site-section__header {
    height: 0;
    width: 0;
    overflow: hidden;
}

.site-section--agenda {
    width: 20%;
    max-height: 75vh;
    min-width: 250px;
}

.site-section--archive {
    max-height: 75vh;
    min-height: 300px;
    min-width: 250px;
    width: 20%;
    bottom: $menu-item-height;
    right: $menu-item-height;

}

.site-section--contact {
    width: 75%;
    right: $menu-item-height;
}

.site-section--default {
    bottom: $menu-item-height;
    right: $menu-item-height;
    width: 55%;
    max-height: 70%;
    min-height: 300px;
}

.site-section__default-content {
    columns: 100px 2;
}

